@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

.contentNote{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.box-header{
    display: flex;
    width: 100%;
    background-color: #D9D2D2;
    padding: 0.5em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.signout{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.box-header>h3{
    font-family: 'Risque'; 
    font-size: 2em;
}

.box-search{
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 2em;
    padding: 0.5em;
}

.box-search>input{
    border: none;
    background-color: rgb(233, 233, 233);
}

.box-search>input:focus{
    outline: none;
}

.box-notes{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 90%;
    padding: 2em;
}

.box-option-notes{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
}

.box-option-notes>div{
    border-radius: 2em;
}

.box-option{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    width: 10%;
    justify-content: space-evenly;
    align-items: center;
}

.box-option>img{
    width: 5em;
    height: 5em;
    cursor: pointer;
}

.note-new{
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  