@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

.contentNote{
    display: grid;
    background-color: rgba(52, 111, 174, 0.8);
    width: 100%;
}

.box-header{
    display: flex;
    width: 100%;
    background-color: #D9D2D2;
    padding: 0.5em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.signout{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.box-header>h3{
    font-family: 'Risque'; 
    font-size: 2em;
}

.box-search{
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 2em;
    padding: 0.5em;
}

.box-search>input{
    border: none;
    background-color: rgb(233, 233, 233);
}

.box-search>input:focus{
    outline: none;
}

.box-notes{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    width: 90%;
    padding: 2em;
}

.box-option-notes{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img-option{
    padding: 0.5em;
}

.box-option-notes>div{
    border-radius: 2em;
}

.box-option{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100px;
    height: 450px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.8em;
}

.box-option>img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    object-fit: contain;
}

.box-option>p{
    font-size: 14px;
    object-fit: contain;
    font-weight: bolder
}

.note-new{
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .note-footer>h2{
      font-size: 1em;
  }
  
  .note-list{
    background-color: #8afee9;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }