@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.box-login, .box-signup{
  display: grid;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(52, 111, 174, 0.8);
}

.box-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo{
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

#log{
  margin-bottom: 0.7em;
}

.welcome, .welcome-signup{
  font-size: 2em;
}

.welcome, .textOption, .optionSignUp, .name-notes, .welcome-signup, .optionLogin{
  display: flex;
  width: 100%;
  justify-content: center;
  color: aliceblue;
}

.name-notes{
  letter-spacing: 0.1rem;
  font-size: 4em;
  font-family: 'Risque', cursive;
}

.box-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-form > input{
  border-radius: 1em;
  width: 20em;
  padding: 0.5em;
  box-shadow: 0em .5em .5em rgba(0, 0, 0, 0.2);
  outline: none;
  border: .2em solid rgb(191, 186, 186);
}

.box-form > button{
  border-radius: 1em;
  width: 10em;
  padding: 0.5em;
  box-shadow: 0px .5em .5em rgba(0, 0, 0, 0.2);
  outline: none;
  border: .2em solid rgb(191, 186, 186);
  background-color: #F2F484;
  cursor:pointer;
}

.box-fb-go{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box-fb-go .img-go{
  width: 2em;
  height: 2em;
  cursor:pointer;
}
.box-fb-go > img{
  width: 2em;
  height: 2em;
  cursor:pointer;
}

