@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&family=Roboto+Serif:ital,wght@1,200&family=Roboto:ital,wght@1,100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: 'Roboto Serif', serif;
}

main {
  max-width: 900px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

section {
  display: block;
  padding: 2px 2px 2px 2px;
}